AddType application/x-httpd-php5 .php

RewriteEngine On
RewriteBase /catalog/belarus/agromash/mashine/detal
RewriteRule ^id/([^/]*)\.html$ /catalog/belarus/agromash/mashine/detal/?id=$1 [L]
RewriteRule (.+)(/)$ $1.html [L,QSA]

