Options +FollowSymLinks

RewriteEngine On
RewriteBase /catalog/china/hongda/pump

RewriteRule ^diesel/([^/]*)\.html$ /catalog/china/hongda/pump/?translite=$1 [QSA,L]
RewriteRule ^electric/([^/]*)\.html$ /catalog/china/hongda/pump/?translite=$1 [QSA,L]

RewriteRule (.+)(/)$ $1.html [L,QSA]

