ErrorDocument 404 http://www.htz.ru/error404.html
AddType application/x-httpd-php5 .php

RewriteEngine on
Options +FollowSymlinks
RewriteBase /catalog/spare/mtz/80/frame_axle
RewriteRule ^id/([^/]*)\.html$ /catalog/spare/mtz/80/frame_axle/?id=$1 [L]
RewriteRule ^id/([^/]*)\.html$ /catalog/spare/mtz/80/detal/?id=$1 [L]
RewriteRule (.+)(/)$ $1.html [L,QSA]