AddType application/x-httpd-php5 .php

RewriteEngine On
RewriteBase /catalog/mtz/teh/detal
RewriteRule ^id/([^/]*)\.html$ /catalog/mtz/teh/detal/?id=$1 [L]
RewriteRule (.+)(/)$ $1.html [L,QSA]

