ErrorDocument 404 http://htz.ru/error404.html
AddType application/x-httpd-php5 .php

RewriteEngine on
Options +FollowSymlinks
RewriteBase /news/admin
RewriteRule (.+)(/)$ $1.html [L,QSA]









