AddType application/x-httpd-php5 .php

RewriteEngine On
RewriteBase /services/makestone/step/marble/detail
RewriteRule ^id/([^/]*)\.html$ /services/makestone/step/marble/detail/?id=$1 [L]
RewriteRule (.+)(/)$ $1.html [L,QSA]

