ErrorDocument 404 http://www.htz.ru/error404.html
AddType application/x-httpd-php5 .php

RewriteEngine on
Options +FollowSymlinks
RewriteBase /catalog/spare/htz/t150/brake_system_steering_power_shaft
RewriteRule ^id/([^/]*)\.html$ /catalog/spare/htz/t150/brake_system_steering_power_shaft/?id=$1 [L]
RewriteRule ^id/([^/]*)\.html$ /catalog/spare/htz/t150/detal/?id=$1 [L]
RewriteRule (.+)(/)$ $1.html [L,QSA]









