 
 #my-container  .modalHeight{
    max-height: 65vh;
    overflow-y: auto;
    scrollbar-color: #600 #f1f1f1;
    scrollbar-width: thin;
  }

  #my-container > div.modalHeight > .success-message {
    max-height: 65vh;
  }

.parent {
  display: grid;
  grid-template-areas:
    "head head head"
    "address form contacts"
    "map map map"
    "copypage copypage copypage";
  grid-template-columns: 25% 40% 35%;
}

.modal_header {
  grid-area: head;
  padding: 0px 10px;
}

.modal_address {
  grid-area: address;
  display: block;
  /* background-color: green; */
  padding: 5px 10px;
}

.modal_form {
  grid-area: form;
  display: block;
  padding: 5px 15px;
}

.modal_form div {
   margin: 0 0 10px 0;
}

#my-container > div.modalHeight > div > div > div.modal_form input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 1.65em;
}

.checkbox-container {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

#my-container > div.modalHeight > div > div > div.modal_form > form > div.checkbox-container input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 1.45rem;
    height: 1.45rem;
    border: 1px solid red;
    border-radius: 0;
    background-color: #fff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
}

#my-container > div.modalHeight > div > div > div.modal_form > form > div.checkbox-container input[type="checkbox"]:checked{
  border-radius: 0;
  background-color:green;
  border: 1px solid green;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}


textarea {
  overflow: hidden;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  height: 6em;
  font-size: 1.65em;
}


#my-container > div.modalHeight > div > div > div.modal_form > form > div.checkbox-container label{
  font-size: 0.9em;
}

#my-container > div.modalHeight > div > div > div.modal_form > form > div.checkbox-container label a{
  color: #333366;
  font-weight: bold;
}

.button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.modal_contacts {
  grid-area: contacts;
  display: block;
  /* background-color:blue; */
  padding: 5px 10px;
}

.modal_map {
  grid-area: map;
  background-color: red;
}

.modal_copy {
  grid-area: copypage;
  background-color: aqua;
}


@media (max-width:321px){
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
    grid-template-columns: auto; 
  }

  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }

}

@media (max-width:361px){
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }
}

@media (max-width:376px){
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }
}

@media (max-width:384px){
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }
}

@media (max-width:386px){
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }
}

@media (max-width:394px){
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }
}

@media (max-width:415px){
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }
}

@media (max-width:429px){
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }
}

@media (max-width:431px){
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }
}

@media (max-width:441px){
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }
}

@media (max-width:481px) {
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
  #my-container  .modalHeight{
    scrollbar-color: #efba46 #f1f1f1;
  }
}

@media (max-width:768px) {
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
}

@media (max-width:1024px) {
  .parent{
    grid-template-areas:
            "head head head"
            "form form form"
            "address address address"
            "contacts contacts contacts"
            "map map map"
            "copypage copypage copypage";
  }
}