ErrorDocument 404 http://www.htz.ru/error404.html
AddType application/x-httpd-php5 .php

RewriteEngine on
Options +FollowSymlinks
RewriteBase /catalog/spare/shantui
RewriteRule (.+)(/)$ $1.html [L,QSA]
