AddType application/x-httpd-php5 .php

RewriteEngine On
RewriteBase /services/grille/patterns/detal
RewriteRule ^id/([^/]*)\.html$ /services/grille/patterns/detal/?id=$1 [L]
RewriteRule (.+)(/)$ $1.html [L,QSA]

