AddType application/x-httpd-php5 .php

RewriteEngine On
RewriteBase /catalog/china/hongda
RewriteRule ^pump/([^/]*)\.html$ /catalog/china/hongda/pump/?translite=$1 [L]
RewriteRule (.+)(/)$ $1.html [L,QSA]

