AddType application/x-httpd-php5 .php

RewriteEngine On
RewriteBase /services/cutting/detal
RewriteRule ^id/([^/]*)\.html$ /services/cutting/detal/?id=$1 [L]
RewriteRule (.+)(/)$ $1.html [L,QSA]

